<div class="container">
  <div class="row">

    <div id="content-left" class="content-area col-md-6 col-xs-12">
      <div id="main-content" class ="content-box">
        <h2 class="content-box-head"><%= @article.title %></h2>
        <div class="content-box-body">
          <p>タグ：
            <% @article.categories.each do |category| %>
              <%= link_to category.name, category_path(category) %>
            <% end %>
          </p>
          <h4>● 意味</h4>
          <div>
            <%= simple_format(@article.mean) %>
          </div>
          <h4>● 主な原因</h4>
          <div>
            <%= simple_format(@article.cause) %>
          </div>
        </div>
        <div class="content-box-foot">
          <div>
            <%= link_to "エラー情報の編集", edit_article_path(@article), class:"btn" %>
          </div>
          <div>
            <% if user_signed_in? %>
              <% if current_user.admin == true %>
                <p>
                  最終更新：<%= link_to daytime_localize(@article.updated_at), article_histories_path %> /
                  <span id="sub-content-show">記事についてディスカッションする</span>
                </p>
              <% else %>
                <p>
                  最終更新：<%= daytime_localize(@article.updated_at) %> /
                  <span id="sub-content-show">記事についてディスカッションする</span>
                </p>
              <% end %>
            <% else %>
              最終更新：<%= daytime_localize(@article.updated_at) %>
            <% end %>
          </div>
        </div>
      </div>

      <div id="sub-content" class ="content-box">
        <h2 class ="content-box-head">ディスカッショント</h2>
        <div id="comment-flash">
          <%= render partial: '/layouts/flash', locals:{flash: flash} %>
        </div>
        <div id="comment-submit-<%= @article.id %>" class="content-box-body">
          <%= render partial: '/article_comments/comments', locals:{article_comments: @article_comments} %>
        </div>
        <div class="content-box-foot">
          <%= form_for([@article, @article_comment], remote: true) do |f| %>
            <%= f.text_area :comment, class:'foot-textarea' %>
            <%= f.submit '送信', class:'btn btn-comment-submit', id: 'comment-submit' %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="content-right" class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class ="content-box-head">関連ストーリー</h2>
        <div id="stories" class="content-box-body">
          <%= render '/stories/story_lists_wrapper', stories: @stories %>
        </div>
        <div class="content-box-foot">
          <% if user_signed_in? %>
            <%= link_to(new_article_stories_path(@article), class:'btn btn-sub2') do %>
              <p>ストーリーの作成</p>
            <% end %>
          <% else %>
            <p class="foot-not-active">
              ストーリーの作成(ログイン時のみ)
            </p>
          <% end %>
        </div>
      </div>
    </div>

  </div>
</div>