<div class="container">
  <div class="row">
    <div id="content-left" class="content-area col-md-12 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">ユーザー一覧</h2>
        <div class="content-box-body">
          <%= form_tag(users_path, method: :get, class: 'header-search-form-area') do %>
          <div class="header-search-form">
            <%= text_field_tag :search, '', class: 'header-search-form-textfield', placeholder:'キーワードを入力してください' %>
            <%= button_tag(type: 'submit', class: 'header-search-form-btn') do %>
              <img class="header-search-form-icon" src="/images/search.png" alt="検索">
            <% end %>
          </div>
        <% end %>
          <table class="table">
            <tr>
              <th></th>
              <th>利用者名</th>
              <th>登録日</th>
            </tr>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <% if user.deleted_user == true %>
                    <span class="btn-danger">退会済</span>
                  <% end %>
                </td>
                <td><%= link_to user.name, user_path(user)%></td>
                <td><%= daytime_localize(user.created_at) %></td>
              </tr>
            <% end %>
          </table>
          <div class="content-box-foot">
            <%= paginate @users %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>