<div class="container">
  <div class="row">

    <div class="content-area col-md-6">
      <div class ="content-box user-info">
        <h2>利用者情報</h2>
        <div>
          <h3><%= @user.name %></h3>
          <% if @user.id == current_user.id %>
            <p><%= @user.email %></p>
          <% end %>
          <p>ライブラリ保存数：<%= @libraries %></p>
          <div id="user-edit" class="btn btn-below">利用者情報の編集</div>
        </div>
      </div>
    </div>

    <!-- 編集ボタンクリック時に表示 -->
    <div class="content-area col-md-6">
      <div class ="content-box">
        <h2 class ="user-history">最近閲覧したストーリー</h2>
        <div class="user-history">
          リスト追加予定
        </div>

      <!-- 編集ボタンクリック時に表示 -->
        <h2 class ="user-edit">利用者情報の編集</h2>
        <div class="user-edit">
          <%= form_for(@user) do |f| %>
            <h3><%= f.text_field :name, placeholder:"変更後の名前" %></h3>
            <p><%= f.text_field :email, placeholder:"変更後のメールアドレス" %></p>
            <p><%= f.submit "更新", class:"btn" %></p>
            <div id="user-edit-cancel" class="btn">更新のキャンセル</div>
            <div id="user-edit-cancel" class="btn btn-alert btn-below">
              <%= link_to "利用者情報の削除", unsubscribe_user_path(@user), method: :patch %>
            </div>
          <% end %>
        </div>

      </div>
    </div>

  </div>
</div>