<div class="container" >
  <div class="row">
    <% if user_signed_in? %>

    <div id="content-left" class="content-area col-md-6">
      <div class ="content-box top-guide">
        <h2 class="content-box-head">LiBRORREへようこそ</h2>
        <h3>- なんかいい感じのキャッチコピー</h3>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <h3>- 会員登録するといいことあるよ〜的な勧誘</h3>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
      </div>
    </div>

    <div id="content-right" class="content-area col-md-6">
      <div class ="content-box">
        <h2 class ="content-box-head">新着ストーリー</h2>
        <div id="library-stories" class="content-box-body story-lists">
          <%= render '/stories/story_list', stories: @stories %>
        </div>
        <% if @stories.next_page %>
        <!-- 次ページがある場合、「さらに表示」ボタンを表示 -->
        <div id="more-stories" class="content-box-hoot btn">
          <%= link_to_next_page @articles, 'さらに10件表示', remote: true, id:"more-stories" %>
        </div>
        <% end %>
      </div>
    </div>

    <% else %>

    <div id="content-left" class="content-area col-md-6">
      <div class ="content-box">
        <h2 class="content-box-head">LiBRORREへようこそ</h2>
        <h3>- なんかいい感じのキャッチコピー</h3>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <h3>- 会員登録するといいことあるよ〜的な勧誘</h3>
        <p>XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX</p>
        <%= link_to(new_user_registration_path) do %>
          <div class="btn btn-wide">会　員　登　録</div>
        <% end %>


        <%= link_to(new_user_session_path) do %>
          <div class="btn btn-wide btn-sub">ロ　グ　イ　ン</div>
        <% end %>
      </div>
    </div>

    <div id="content-right" class="content-area col-md-6">
      <div class ="content-box">
        <h2 class ="content-box-head">新着ストーリー</h2>
        <div id="library-stories" class="content-box-body story-lists">
          <%= render '/stories/story_list', stories: @stories %>
        </div>
        <% if @stories.next_page %>
        <!-- 次ページがある場合、「さらに表示」ボタンを表示 -->
        <div id="more-stories" class="content-box-hoot btn">
          <%= link_to_next_page @articles, 'さらに10件表示', remote: true, id:"more-stories" %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>
</div>