<div class="container">
  <div class="row">
    <div class="content-area col-md-12 col-xs-12">
      <div class ="content-box">
        <h2 class="content-box-head">ストーリーの追加</h2>
        <div class="content-box-body">
          <%= form_for [@article, @story] do |f| %>
          <h4><%= f.text_field :title, placeholder: "ストーリー名を入力" %></h4>
            <div class="tag-list">
              タグ：
                <ul id="story-tags">
                </ul>
                <%= hidden_field_tag :category_hidden,@category_list %>
            </div>
            <div>
              <%= f.fields_for :story_topics do |topic| %>
                <div>
                  <%= render 'story_topic_fields', f: topic %>
                </div>
              <% end %>
              <div>
                <%= link_to_add_association '見出しの追加',f, :story_topics %>
              </div>
            </div>

            <div class="content-box-foot">
              <%= link_to "戻る", articles_path, class: "btn" %> <%= f.submit "保存", class: "btn" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>