<div class="container">
  <div class="row">

    <div id="content-left" class="content-area col-md-6 col-xs-12">
      <div id="main-content" class ="content-box">
        <h2 class="content-box-head">
          <%= @story.title %>
        </h2>
        <div class="content-box-body">
          <p>
            リソース：<%= link_to @story.article.title, article_path(@story.article) %>
          </p>
          <p>
            <% @story.categories.each do |category| %>
              <%= link_to category.name, category_path(category), class:'category-tag' %>
            <% end %>
          </p>
          <% @topics.each do |topic| %>
            <h4 class="story-topic-title"><%= topic.title %></h4>
            <% topic.story_bodies.each do |body| %>
              <div class="story-body-area">
                <% if body.text_type == 1 %>
                  <div class="code">
                    <pre><code>
                      <%= simple_format(body.content) %>
                    </code></pre>
                  </div>
                <% else %>
                  <div>
                    <%= simple_format(body.content) %>
                  </div>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
        <% if user_signed_in? %>
          <div class="content-box-foot">
            <% if @story.user == current_user %>
              <div class="btn foot-left">
                <%= link_to "ストーリーの編集", edit_story_path(@story) %>
              </div>
            <% end %>
            <div id="sub-content-show" class="btn btn-sub2 foot-left">
              <img src="/images/comment.png" alt="コメント" width="16" height="16"> コメント
            </div>
            <div id="library-btn-<%= @story.id %>" class="foot-right">
              <!-- ライブラリ登録 -->
              <%= render partial: '/libraries/library', locals:{story: @story} %>
            </div>
          </div>
        <% else %>
        <div class="content-box-foot">
          <p class="foot-not-active">
            会員登録・ログインすると、ストーリーをマイライブラリに追加したり、トークに参加することができます。
          </p>
        </div>
        <% end %>
      </div>

      <div id="sub-content" class ="content-box">
        <h2 class ="content-box-head">コメント</h2>
        <div id="comment-flash">
          <%= render partial: '/layouts/flash', locals:{flash: flash} %>
        </div>
        <div id="comment-submit-<%= @story.id %>" class="content-box-body">
          <%= render partial: '/story_comments/comments', locals:{story_comments: @story_comments} %>
        </div>
        <div class="content-box-foot">
          <%= form_for([@story, @story_comment], remote: true) do |f| %>
          <%= f.text_area :comment, class:'foot-textarea' %>
          <%= f.submit '送信', class:'btn btn-comment-submit', id: 'comment-submit' %>
          <% end %>
        </div>
      </div>
    </div>

    <div id="content-right" class="content-area col-md-6 col-xs-12">
      <div class ="content-box">
        <h2 class ="content-box-head">関連ストーリー</h2>
        <div class="content-box-body story-lists">
          <%= render '/stories/story_lists_wrapper', stories: @stories %>
        </div>
      </div>
    </div>

  </div>
</div>