<!DOCTYPE html>
<html>
  <head>
    <title>Librorre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="clearfix">
      <h1 class="header-logo">LiBRORRE</h1>
      <div class="header-search">
        <%= form_tag(articles_path, method: :get) do %>
          <%= text_field_tag :search %>
          <%= button_tag(type: 'submit') do %>
            <img class="header-nav-icon" src="/images/search.png" alt="検索" width="16" height="16">
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>

      <div class="header-nav">
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/about.png" alt="使い方" width="40" height="40">
          <p class="header-nav-text">使い方</p>
        </div>
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/library.png" alt="マイライブラリ" width="40" height="40">
          <p class="header-nav-text">マイライブラリ</p>
        </div>
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/story.png" alt="利用者" width="40" height="40">
          <p class="header-nav-text"><%= current_user.name %> ▼</p>
        </div>
      </div>

      <% else %>

      <div class="header-nav">
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/about.png" alt="使い方" width="40" height="40">
          <p class="header-nav-text">使い方</p>
        </div>
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/sign_up.png" alt="登録" width="40" height="40">
          <p class="header-nav-text">登録</p>
        </div>
        <div class="header-nav-list">
          <img class="header-nav-icon" src="/images/sign_in.png" alt="ログイン" width="40" height="40">
          <p class="header-nav-text">ログイン</p>
        </div>
      </div>

      <% end %>

    </header>
    <%= yield %>

  </body>
</html>
