<!DOCTYPE html>
<html>
  <head>
    <title>Librorre</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- フラッシュメッセージ -->
    <div id="flash-messages">
      <%= render partial: '/layouts/flash', locals:{flash: flash} %>
    </div>

    <header class="clearfix">
      <h1 class="header-logo">LiBRORRE</h1>
      <div class="header-search">
        <%= form_tag(articles_path, method: :get) do %>
          <%= text_field_tag :search %>
          <%= button_tag(type: 'submit') do %>
            <img class="header-nav-icon" src="/images/search.png" alt="検索" width="16" height="16">
          <% end %>
        <% end %>
      </div>

      <% if user_signed_in? %>

      <div class="header-nav">
        <div class="header-nav-list">
          <%= link_to(about_path) do %>
            <img class="header-nav-icon" src="/images/about.png" alt="使い方" width="40" height="40">
            <p class="header-nav-text">使い方</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(libraries_path) do %>
            <img class="header-nav-icon" src="/images/library.png" alt="マイライブラリ" width="40" height="40">
            <p class="header-nav-text">マイライブラリ</p>
          <% end %>
        </div>
        <div id="user-menu" class="header-nav-list">
          <img class="header-nav-icon" src="/images/story.png" alt="利用者" width="40" height="40">
          <ul class="header-nav-text">
            <li><%= current_user.name %> ▼</li>
            <ul id="user-menu-topics">
              <li><%= link_to '利用者情報', user_path(current_user) %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </ul>
        </div>
      </div>

      <% else %>

      <div class="header-nav">
        <div class="header-nav-list">
          <%= link_to(about_path) do %>
            <img class="header-nav-icon" src="/images/about.png" alt="使い方" width="40" height="40">
            <p class="header-nav-text">使い方</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(new_user_registration_path) do %>
            <img class="header-nav-icon" src="/images/sign_up.png" alt="登録" width="40" height="40">
            <p class="header-nav-text">登録</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(new_user_session_path) do %>
            <img class="header-nav-icon" src="/images/sign_in.png" alt="ログイン" width="40" height="40">
            <p class="header-nav-text">ログイン</p>
          <% end %>
        </div>
      </div>

      <% end %>

    </header>
    <%= yield %>

  </body>
</html>
