<!DOCTYPE html>
<html>
  <head>
    <title>LiBRORRE</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  <!-- フラッシュメッセージ -->
    <div id="flash-messages">
      <%= render partial: '/layouts/flash', locals:{flash: flash} %>
    </div>

    <header class="clearfix">
      <%= link_to(root_path, class:'header-logo') do %>
        <img class="header-logo" src="/images/title-logo.png">
      <% end %>
      <div class="header-search clearfix">
        <%= form_tag(articles_path, method: :get, class: 'header-search-form-area') do %>
          <div class="header-search-form">
            <%= text_field_tag :search, '', class: 'header-search-form-textfield', placeholder:'キーワードを入力してください' %>
            <%= button_tag(type: 'submit', class: 'header-search-form-btn') do %>
              <img class="header-search-form-icon" src="/images/search.png" alt="検索">
            <% end %>
          </div>
        <% end %>
      </div>

      <% if user_signed_in? %>

      <div class="header-nav clearfix">
        <div class="header-nav-list">
          <%= link_to(about_path) do %>
            <img class="header-nav-icon" src="/images/about.png" alt="使い方">
            <p class="header-nav-text">使い方</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(libraries_path) do %>
            <img class="header-nav-icon" src="/images/library.png" alt="ライブラリ" width="40" height="40">
            <p class="header-nav-text">ライブラリ</p>
          <% end %>
        </div>
        <div id="user-menu" class="header-nav-list">
          <img class="header-nav-icon" src="/images/story.png" alt="利用者" width="40" height="40">
          <ul class="header-nav-text">
            <li><%= current_user.name %> ▼</li>
            <ul id="user-menu-topics">
              <li><%= link_to '利用者情報', user_path(current_user) %></li>
              <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
            </ul>
          </ul>
        </div>
      </div>

      <% else %>

      <div class="header-nav clearfix">
        <div class="header-nav-list">
          <%= link_to(about_path) do %>
            <img class="header-nav-icon" src="/images/about.png" alt="使い方" width="40" height="40">
            <p class="header-nav-text">使い方</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(new_user_registration_path) do %>
            <img class="header-nav-icon" src="/images/sign_up.png" alt="登録" width="40" height="40">
            <p class="header-nav-text">登録</p>
          <% end %>
        </div>
        <div class="header-nav-list">
          <%= link_to(new_user_session_path) do %>
            <img class="header-nav-icon" src="/images/sign_in.png" alt="ログイン" width="40" height="40">
            <p class="header-nav-text">ログイン</p>
          <% end %>
        </div>
      </div>

      <% end %>

    </header>
    <%= yield %>
    <footer>
      ©️2019 Kazuki Kakuya
    </footer>

  </body>
</html>
