<h2>利用者登録</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <p>氏名(ニックネーム可)</p>
    <%= f.text_field :name, autofocus: true, autocomplete: "名前" %>
  </div>

  <div class="field">
    <p>メールアドレス</p>
    <%= f.email_field :email, autofocus: true, autocomplete: "メールアドレス" %>
  </div>

  <div class="field">
    <p>パスワード</p>
    <%= f.password_field :password, autocomplete: "パスワード" %>
    <% if @minimum_password_length %>
      <p>(パスワードは<%= @minimum_password_length %> 文字以上必要です)</p>
    <% end %>
  </div>

  <div class="field">
    <p>パスワード確認</p>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "登録" %>
  </div>
<% end %>